@tailwind base;
@tailwind components;
@tailwind utilities;

.page-width {
    max-width: 1400px;
    margin: 0 auto;
    
   
  }
  
  .back_ground{
    background-color: #03002E;
    color: white;
  }
 
  .color-burn-blend {
    mix-blend-mode: color-burn;
  }
  .back_ground_one{
    background-color: #d3e4fe;
    color: black;
  }
  .back_ground_two{
    background-color: #eeeee4;
    color: black;
  }
  .hexagon-1 {
    
    margin: 10px;
    width: 300px;
    height: 250px; /* width*√3/2 */
    clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gmail-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    background-color: #d93025; /* Gmail red */
    color: #fff; /* White color for icon */
    border-radius: 50%; /* Rounded shape */
  }